<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BCKarcmove.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BCKarcmove.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BCKarcmove.Properties.Settings>
            <setting name="ReservePath" serializeAs="String">
                <value>D:\DEV2\</value>
            </setting>
            <setting name="DaysToLive" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>D:\DEV\</value>
            </setting>
            <setting name="MailAddress" serializeAs="String">
                <value>p607ivc@minoblgu.by</value>
            </setting>
        </BCKarcmove.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <BCKarcmove.Properties.Settings>
            <setting name="Mailpwd" serializeAs="String">
                <value>qwe123DSA</value>
            </setting>
            <setting name="Mailserver" serializeAs="String">
                <value>ominskex</value>
            </setting>
        </BCKarcmove.Properties.Settings>
    </userSettings>
</configuration>